<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tela de login - Bayern Munchen</title>
        <link rel="stylesheet" href="../View/CSS/entrarBayernStyle.css">
        <meta name="description" content="Tela de login do programa de cadastro online do time Bayern Munchen">
        <link rel="icon" type="image/svg" href="../View/Imagens/2048px-Logo_FC_Bayern_München.svg"/>
    </head>

    <body class="corpo">
        <nav>
            <div class="navbar">
                <div class="esquerda"></div>
                <div class="meio">
                    <img src="../View/Imagens/2048px-Logo_FC_Bayern_München.svg" alt="Logo-Bayern-Munchen">
                </div>
                <div class="direita"></div>
            </div>
        </nav>

        <div class="quadroDiv">
            <div class="quadro">

                <div>
                    <h1  class="titulo">Entrar</h1>
                    <p>Conectar com email ou cpf</p>
                    
                </div>

                <form action="" method="POST">
                    <div class="dados">
                        <label>E-MAIL / CPF:</label>
                        <br>
                        <input type="text" class="barra" name="email">
                        <br>
                        <label>SENHA:</label>
                        <br>
                        <input type="password" class="barra" name="senha">
                        <br>
                        <a class="link">Esqueceu sua senha?</a>
                    </div>
                    
                    <div class="acao">
                        <br>
                        <button type="submit" class="botao">Enviar</button>
                        <br>
                        <button type="button" class="botao2"  onclick="window.location.href='../View/HTML/inicioBayern.html'">&lt;Voltar</button>
                    </div>
                </form>
            </div>
        </div>
        

        <footer>
            <div class="rodape">
            </div>
        </footer>
    </body>
</html>