<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../CSS/inicioBayernStyle.css">
        <meta name="description" content="Tela inicial do programa de cadastramento do time de futebol bayern munchen">
        <link rel="icon" type="image/svg" href="../Imagens/2048px-Logo_FC_Bayern_München.svg"/>
        <title>Inicio Programa Bayern Munchen</title>
    </head>

    <body class="corpo">
        <nav>
            <div class="navbar">
                <div class="esquerda"></div>
                <div class="meio">
                    <img src="../Imagens/2048px-Logo_FC_Bayern_München.svg" alt="Logo-Bayern-Munchen">
                </div>
                <div class="direita"></div>
            </div>
        </nav>

        <div class="container ">
            <h1>SEJA BEM<br>VINDO!</h1>
        </div>

        <div class="botaoDiv">
            <button class="botao" onclick="window.location.href='/BayernMVC/Controler/entrar.php'">Entrar</button>
        </div>

        <footer>
            <div class="rodape">
            </div>
        </footer>

    </body>
</html>