<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SUCESSO!</title>
        <link rel="stylesheet" href="../View/CSS/cadastroRealizadoStyle.css">
        <meta name="description" content="Tela de confirmação de sucesso de cadastro online do time Bayern Munchen">
        <link rel="icon" type="image/svg" href="../View/Imagens/2048px-Logo_FC_Bayern_München.svg"/>
        </head>

    <body class="corpo">
        <nav>
            <div class="navbar">
                <div class="esquerda"></div>
                <div class="meio">
                    <img src="../View/Imagens/2048px-Logo_FC_Bayern_München.svg" alt="Logo-Bayern-Munchen">
                </div>
                <div class="direita"></div>
            </div>
        </nav>

        <div class="container">
            <h1 >Cadastro realizado com sucesso!</h1>
        </div>

        <div class="btn">
            <button type="button" class="botao2" onclick="window.location.href='cadastro.php'">Voltar</button>
        </div>

         <footer>
            <div class="rodape">
            </div>
        </footer>
    </body>
</html>